name: Build and Test
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java-version: [ 24, 25-ea ]
    steps:
      - uses: actions/checkout@v4
        with:
          # On a besoin d'avoir le commit courant et le commit précédent
          fetch-depth: 2

      - uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java-version }}
          distribution: temurin
      - name: Cache Maven artifacts
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Cache node
        uses: actions/cache@v4
        with:
          path: web-bundle/node
          key: ${{ runner.os }}-node-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os}}-node-
      - name: Cache node_modules
        uses: actions/cache@v4
        with:
          path: web-bundle/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/pom.xml', '**/package.json') }}
          restore-keys: |
            ${{ runner.os}}-node_modules-

      - name: Build + test ${{ matrix.java-version }}
        run: mvn -B clean test

      # PIT sur le commit courant
      - name: Rouler le score de mutation sur les tests courants
        id: pit_courant
        run: |
          mvn -B -pl core org.pitest:pitest-maven:mutationCoverage -DargLine=""
          
          FICHIER_RAPPORT=$(find . -path "*/target/pit-reports/*/summary.xml" | head -n 1)
          if [ -z "$FICHIER_RAPPORT" ]; then
          echo "::error::PIT report pas trouvé pour le commit courant"
          exit 1
          fi
          
          SCORE=$(sed -n 's:.*<score>\([0-9]\+\)</score>.*:\1:p' "$FICHIER_RAPPORT" | head -n 1)
          if [ -z "$SCORE" ]; then
          echo "::error:: On n'a pas pu analyser le score du commit courant"
          cat "$FICHIER_RAPPORT" || true
          exit 1
          fi
          
          echo "Score de mutation courant: $SCORE"
          echo "score=$SCORE" >> "$GITHUB_OUTPUT"      

      - name: Rouler le score de mutation sur les tests précédents
        id: pit_precedent
        run: |
          git checkout HEAD^

          mvn -B -pl core org.pitest:pitest-maven:mutationCoverage -DargLine=""

          FICHIER_RAPPORT=$(find . -path "*/target/pit-reports/*/summary.xml" | head -n 1)
          if [ -z "$FICHIER_RAPPORT" ]; then
            echo "::error::PIT report pas trouvé pour le commit précédent"
            exit 1
          fi

          SCORE=$(sed -n 's:.*<score>\([0-9]\+\)</score>.*:\1:p' "$FICHIER_RAPPORT" | head -n 1)
          if [ -z "$SCORE" ]; then
            echo "::error::On n'a pas pu analyser le score du commit précédent"
            cat "$FICHIER_RAPPORT" || true
            exit 1
          fi

          echo "Score de mutation précédent: $SCORE"
          echo "score=$SCORE" >> "$GITHUB_OUTPUT"

      # Comparaison des scores
      - name: Échec si le score de mutation a diminué
        run: |
          PRECEDENT=${{ steps.pit_precedent.outputs.score }}
          COURANT=${{ steps.pit_courant.outputs.score }}

          echo "Score de mutation précédent : $PRECEDENT"
          echo "Score de mutation courant   : $COURANT"

          if [ -z "$PRECEDENT" ] || [ -z "$COURANT" ]; then
            echo "::error::Un des deux scores de mutation est vide."
            exit 1
          fi

          if [ "$COURANT" -lt "$PRECEDENT" ]; then
            echo "::error::Le score de mutation a diminué ($COURANT < $PRECEDENT)."
            exit 1
          fi

          echo "Le score de mutation est = ou >."
